body {
    // font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

mat-card-header{
    cursor: pointer;
}

mat-list{
    overflow: hidden;
}

#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}

#sidenavContainer {
    margin-top: 64px;
}

#sidenav {
    width: 240px;
}

#sidenav.menu-close {
    width: 70px
}

#sidenav.menu-open {
    width: 240px
}

#sidenav .avatar {
    background-image: url('../../../../assets/images/Logo.jpg');
    background-size: cover;
}

#sidenav .mat-list-item-content {
    padding: 0;
}

#sidenav .menu-item {
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 10px;
}

#sidenav .menu-item:hover {
  background: #eee;
}
#sidenav .menu-item mat-icon {
    margin-right: 20px;
    overflow: hidden;
    // margin-left: 12px;
}

.dash-list h3 {
    padding: 12px;
}

mat-card {
    box-shadow: none !important;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    text-shadow: none;
}

.mat-card-header .mat-card-title {
    font-size: 18px;
}

button{
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

mat-toolbar{
    font-family: 'Noto Serif', serif;
    font-weight: bolder;
    text-shadow: none;
}

::ng-deep #cai-webchat-div {
    display: flex;
  }
