<mat-toolbar id="mainToolbar" color="primary">
    <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
    Employee-Portal
    <span class="toolbar-spacer"></span>
    <mat-icon data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile" (click)="employeeDetails()"
        class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="accent">account_circle
    </mat-icon>
    <mat-icon data-bs-toggle="tooltip" data-bs-placement="bottom" title="logout" class="toolbar-icon d-inline-block"
        matBadge="8" matBadgePosition="after" matBadgeColor="accent" (click)="logout()">logout
    </mat-icon>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
    <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen"
        opened>

        <mat-list id="menus">
            <mat-card>
                <mat-card-header [routerLink]="['../dashboard']">
                    <div mat-card-avatar class="avatar"></div>

                    <mat-card-title>Sriramkumar B</mat-card-title>
                    <mat-card-subtitle>Intern</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-list-item [routerLink]="['./']">
                <button class="menu-item" mat-flat-button>
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </button>
            </mat-list-item>

            <mat-list-item [routerLink]="['leave-data']">
                <button class="menu-item" mat-flat-button>
                    <mat-icon>exit_to_app</mat-icon>
                    Leave Data
                </button>
            </mat-list-item>

            <mat-list-item [routerLink]="['pay-slip']">
                <button class="menu-item" mat-flat-button>
                    <mat-icon>receipt_long</mat-icon>
                    Salary Pay Slip
                </button>
            </mat-list-item>

            <mat-list-item [routerLink]="['final-settlement']">
                <button class="menu-item" mat-flat-button>
                    <mat-icon>account_balance_wallet</mat-icon>
                    final-settlement
                </button>
            </mat-list-item>

        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>