<div class="card m-4 p-4">
    <div class="d-flex justify-content-center">
        <h2><b>Customer DashBoard</b></h2>
    </div>
    <form>
        <div class="row m-4 d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><b>Inquiry Data</b></h3>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni sapiente
                            laboriosam facilis, eligendi sed non impedit dolor asperiores qui odio consectetur, expedita
                            suscipit dolorum libero excepturi fugiat optio ratione. Sint!</p>
                        <a [routerLink]="['inquiry-data']" class="btn btn-outline-success d-flex">
                            <mat-icon class="me-2">east</mat-icon>Inquiry Data
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-4 d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Special title treatment</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-4 d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Special title treatment</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>