<section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>Customer Dashboard</h2>
            <p class="separator">Customer Dashboard and it's Features!</p>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="feature-block">

                    <mat-icon>article</mat-icon>
                    <h4>Inquiry Data</h4>
                    <p>This Section Contains all the inquiries records between the Customer and the Company!</p>
                    <a [routerLink]="['inquiry-data']">
                        <mat-icon>east</mat-icon>
                    </a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="feature-block">

                    <mat-icon>receipt</mat-icon>
                    <h4>Sale Order Data</h4>
                    <p>This Section Contains all the sale order records between the Customer and the Company!</p>
                    <a [routerLink]="['sale-order']">
                        <mat-icon>east</mat-icon>
                    </a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="feature-block">

                    <mat-icon>local_shipping</mat-icon>
                    <h4>List of Delivery</h4>
                    <p>This Section Contains all the delivery records between the Customer and the Company!</p>
                    <a [routerLink]="['delivery-list']">
                        <mat-icon>east</mat-icon>
                    </a>

                </div>
            </div>

        </div>
    </div>

</section>