<div class="ps-3 mt-3">
    <mat-icon [routerLink]="['../../../sale-order']"
        style="cursor: pointer; border: 1px solid gray; border-radius: 25px;">
        keyboard_backspace
    </mat-icon>
</div>
<div class="container-fluid mt-5">
    <div class="row mt-4 mb-4">
        <div class="col ms-3 mb-3">
            <h2><b>Sale Order Data Details for {{ salesDataNumber }}</b></h2>
        </div>
        <div class="col me-3 mb-3 d-flex justify-content-end">
            <form class="">
                <div class="input-group">
                    <input #search class="form-control" type="text" placeholder="Search..."
                        (keyup)="onSearch(search.value)">
                    <div class="input-group-btn">
                        <button class="menu-item" (click)='onSearch(search.value)' mat-flat-button
                            style="border: 1px solid rgb(218, 213, 213);">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="main">
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </div>
</div>