<div class="card">
    <div class="ps-3 pt-2">
        <mat-icon [routerLink]="['../../dashboard']"
            style="cursor: pointer; border: 1px solid gray; border-radius: 25px;">
            keyboard_backspace
        </mat-icon>
    </div>
    <div class="row mt-4">
        <div class="col ms-3 mb-3">
            <h2><b>Customer Master Data Upload</b></h2>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <input type="file" multiple="false" id="input" placeholder="Choose a Excel File"
                (change)="excelRead($event)" />
        </div>
        <div class="d-flex justify-content-center mt-3 mb-3">

            <table>
                <tbody>
                    <tr *ngFor='let row of data'>
                        <td *ngFor='let cell of row'>
                            {{ cell }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- <div class="d-flex justify-content-center mt-4" *ngIf="show" style="color:green; font-weight: bold;">
            <h3>The Customer Master Data Uploaded with the Customer ID : {{ customer_number }}</h3>
        </div> -->

        <div *ngIf="show1" class=" mt-4 mb-4 d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="container">

            <div class="row" *ngFor="let item of number">
                <p *ngIf="show" class="d-flex justify-content-center" style="color:green; font-weight: bold;">The
                    Customer Master Data Uploaded with the
                    Customer ID : {{
                    item }}</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3" style="color: red;">
            {{ error_message }}
        </div>
    </div>
</div>