<div class="ps-3 mt-3">
    <mat-icon [routerLink]="['../../../delivery-list']"
        style="cursor: pointer; border: 1px solid gray; border-radius: 25px;">
        keyboard_backspace
    </mat-icon>
</div>
<div class="container-fluid">
    <div class="row mt-4 mb-4">
        <div class="col ms-3 mb-3">
            <h2><b>Delivery List for {{ salesDataNumber }}</b></h2>
        </div>
        <div class="col me-3 mb-3 d-flex justify-content-end">
            <form class="">
                <div class="input-group">
                    <input #search class="form-control" type="text" placeholder="Search..."
                        (keyup)="onSearch(search.value)">
                    <div class="input-group-btn">
                        <button class="menu-item" (click)='onSearch(search.value)' mat-flat-button
                            style="border: 1px solid rgb(218, 213, 213);">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="show" class=" mt-4 mb-4 d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!show" class="ms-3 me-3 mb-2">
        <h3 class="text-center" style="font-weight: bolder;">Header : </h3>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p>Document No</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.VBELN }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Created by</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.ERNAM }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Sales Organization</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.VKORG }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Created at</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.ERDAT }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Total Weight</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.BTGEW }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Sales district</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.BZIRK }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Sold-to party</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.KUNAG }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col d-flex justify-content-center">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p>Picking Date</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.KODAT }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Ship-to party</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.KUNNR }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Delivery Date</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.LFDAT }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Net weight</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.NTGEW }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Sales Office</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.VKBUR }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Volume</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.VOLUM }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Currency</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.WAERK }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="!show" class="main">
        <h3 class="text-center" style="font-weight: bolder;">Items : </h3>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </div>
</div>