<div class="ps-3 mt-3">
    <mat-icon [routerLink]="['../../../inquiry-data']"
        style="cursor: pointer; border: 1px solid gray; border-radius: 25px;">
        keyboard_backspace
    </mat-icon>
</div>
<div class="container-fluid">
    <div class="row mt-4 mb-4">
        <div class="col ms-3 mb-3">
            <h2><b>Inquiry Data Detail for {{ salesDataNumber }}</b></h2>
        </div>
        <div class="col me-3 mb-3 d-flex justify-content-end">
            <form class="">
                <div class="input-group">
                    <input #search class="form-control" type="text" placeholder="Search..."
                        (keyup)="onSearch(search.value)">
                    <div class="input-group-btn">
                        <button class="menu-item" (click)='onSearch(search.value)' mat-flat-button
                            style="border: 1px solid rgb(218, 213, 213);">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="show" class=" mt-4 mb-4 d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!show" class="ms-3 me-3 mb-2">
        <h3 class="text-center" style="font-weight: bolder;">Header : </h3>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p>COMP_CODE</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.COMP_CODE }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>CURRENCY</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.CURRENCY }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>DISTR_CHAN</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.DISTR_CHAN }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>DIVISION</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.DIVISION }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>DOC_NUMBER</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.DOC_NUMBER }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>DOC_TYPE</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.DOC_TYPE }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>NET_VAL_HD</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.NET_VAL_HD }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col d-flex justify-content-center">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p>OPERATION</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.OPERATION }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>ORDBILLTYP</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.ORDBILLTYP }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>REC_DATE</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.REC_DATE }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>REC_TIME</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.REC_TIME }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>SALES_ORG</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.SALES_ORG }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>SOLD_TO</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.SOLD_TO }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>PURCH_NO</p>
                            </td>
                            <td>
                                <p>:</p>
                            </td>
                            <td>
                                <p>{{ header_data.PURCH_NO }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="!show" class="main">
        <h3 class="text-center" style="font-weight: bolder;">Items : </h3>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </div>
</div>