<div class="card">
    <div class="ps-3 pt-2">
        <mat-icon [routerLink]="['../../dashboard']"
            style="cursor: pointer; border: 1px solid gray; border-radius: 25px;">
            keyboard_backspace
        </mat-icon>
    </div>
    <div class="row mt-4">
        <div class="col ms-3 mb-3">
            <h2><b>Invoice Details using IRPA</b></h2>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <video id="player" controls height="70%" width="90%">
                <source src="../../../../assets/videos/source.mp4" type="video/mp4" />
                <source src="../../../../assets/videos/source-webm.webm" type="video/webm" />
            </video>
        </div>
    </div>
</div>