<div class="card m-3">
    <div class="ps-3 mt-3">
        <mat-icon [routerLink]="['../']" style="cursor: pointer; border: 1px solid gray; border-radius: 25px;">
            keyboard_backspace
        </mat-icon>
    </div>

    <h2 class="text-center m-4" style="font-weight: bolder;">{{employee}} Details</h2>

    <div *ngIf="show" class=" mt-4 mb-4 d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!show" class="card-body">
        <div class="container">
            <div class="row m-4">
                <div class="col-sm d-flex justify-content-center">
                    <table>
                        <tbody>
                            <tr *ngFor="let item of detail_1 | keyvalue">
                                <td>
                                    <p style="font-weight: bolder;">{{ item.key }}</p>
                                </td>
                                <td>
                                    <p>:</p>
                                </td>
                                <td>
                                    <p>{{ item.value }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <table>
                        <tbody>
                            <tr *ngFor="let item of detail_2 | keyvalue">
                                <td>
                                    <p style="font-weight: bolder;">{{ item.key }}</p>
                                </td>
                                <td>
                                    <p>:</p>
                                </td>
                                <td>
                                    <p>{{ item.value }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m-4">
                <div class="col-sm justify-content-center">
                    <div class="p-2 m-2 text-center">
                        <h2 style="font-weight: bolder;">Wage Types</h2>
                    </div>
                    <table>
                        <th *ngFor="let column of wage_headers" style="border: 1px solid gainsboro;">
                            {{column}}
                        </th>
                        <tbody>
                            <tr *ngFor="let row of wage_types">
                                <td *ngFor="let column of wage_headers" style="    border-right: solid 1px gainsboro; 
                                    border-left: solid 1px gainsboro;" class="py-2">
                                    {{row[column]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm justify-content-center">
                    <div class="p-2 m-2 text-center">
                        <h2 style="font-weight: bolder;">Pay & Currency Details</h2>
                    </div>
                    <table>
                        <th *ngFor="let column of PPBWLA_headers" style="border: 1px solid gainsboro;">
                            {{column}}
                        </th>
                        <tbody>
                            <tr *ngFor="let row of PPBWLA_types">
                                <td *ngFor="let column of PPBWLA_headers" style="    border-right: solid 1px gainsboro; 
                                    border-left: solid 1px gainsboro;" class="py-2">
                                    {{row[column]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <mat-list-item>
                    <h4 class="modal-title">
                        <mat-icon>announcement</mat-icon>
                    </h4>
                </mat-list-item>
                <mat-icon style="cursor: pointer;" (click)="onCloseHandled()">close</mat-icon>
            </div>
            <div class="modal-body">
                <div class="col m-4 d-flex justify-content-center">
                    <p>Employee {{employee}} is not in his Notice Period!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>