tr {
    border: 1px solid gainsboro;
  }
  td, th {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }

  .card{
    margin: 20px;
}

.modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.25;
  
  /* z-index must be below .jw-modal and above everything else  */
  z-index: 10;
}

