<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/Logo.jpg" alt="" width="35" height="35"
                class="d-inline-block align-text-center">
            Portal Assignment
        </a>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <!-- Customer -->
        <div class="col-md mb-2">
            <div class="card">
                <div class="row">
                    <div class="col-xs-6 mb-4 mt-4">
                        <img src="../../assets/images/customer.png" class="rounded mx-auto d-block" alt="Customer"
                            width="150" height="150">
                    </div>
                    <div class="col-xs-6">
                        <div class="card-body d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-dark" (click)='movetocustomer()'>Customer
                                Portal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor -->
        <div class="col-md mb-2">
            <div class="card">
                <div class="row">
                    <div class="col-xs-6 mb-4 mt-4">
                        <img src="../../assets/images/vendor.png" class="rounded mx-auto d-block" alt="Vendor"
                            width="150" height="150">
                    </div>
                    <div class="col-xs-6">
                        <div class="card-body d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-dark">Vendor Portal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Employee -->
        <div class="col-md mb-2">
            <div class="card ">
                <div class="row">
                    <div class="col-xs-6 mb-4 mt-4">
                        <img src="../../assets/images/employee.png" class="rounded mx-auto d-block" alt="employee"
                            width="150" height="150">
                    </div>
                    <div class="col-xs-6">
                        <div class="card-body d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-dark">Employee Portal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>