<nav class="navbar navbar-expand-lg navbar-light bg-white p-2">
    <div class="container-fluid">
        <img src="../../assets/images/Logo.jpg" alt="" width="35" height="35">
        <a class="navbar-brand">Sriramkumar B</a>
    </div>
</nav>


<section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>Portal Assignments</h2>
            <p class="separator">Various Portal and it's Features!</p>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="feature-block">

                    <img src="../../assets/images/customer.png" alt="Customer Logo">
                    <h4>Customer Portal</h4>
                    <p>This Section Contains all the Information between the Customer and the Company!</p>
                    <a [routerLink]="['../cus-portal']">
                        <mat-icon style="border: 1px solid black; width: 2ch; border-radius: 100px;">east</mat-icon>
                    </a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="feature-block">

                    <img src="../../assets/images/vendor.png" alt="Vendor Logo">
                    <h4>Vendor Portal</h4>
                    <p>This Section Contains all the Information between the Vendor and the Company!</p>
                    <a [routerLink]="['../ven-portal']">
                        <mat-icon style="border: 1px solid black; width: 2ch; border-radius: 100px;">east</mat-icon>
                    </a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="feature-block">

                    <img src="../../assets/images/employee.png" alt="Employee Logo">
                    <h4>Employee Portal</h4>
                    <p>This Section Contains all the Informations between the Employee and the Company!</p>
                    <a [routerLink]="['../emp-portal']">
                        <mat-icon style="border: 1px solid black; width: 2ch; border-radius: 100px;">east</mat-icon>
                    </a>

                </div>
            </div>

        </div>
    </div>

</section>