.container{
    width: 100vw;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    margin: 5vh;
    padding: auto;
}
.headerLogo{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    color: goldenrod;
    margin-bottom: 25px;
}